# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
/Advanced-Software-Design-E1.iml
/out/
out/production/Advanced-Software-Design-E1/README.md
out/production/Advanced-Software-Design-E1/SocialCare/
